html,
body,
#map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

/* Hilangkan credit bawaan Leaflet di pojok */
.leaflet-control-attribution {
  display: none;
}
